TIBIA_GUILD_NAME="Your Guild Name"
TIBIA_WORLD=Your World
RAW_DATA_DIR=data/raw

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=tibia_analytics
POSTGRES_USER=tibia_user
POSTGRES_PASSWORD=change_me