# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/
*.egg-info/

# Environment variables
.env
.env.local

# Local data
data/
*.sqlite
*.db

# Logs
*.log

# Mac
.DS_Store

# VS Code
.vscode/

# Node / Frontend
node_modules/
.next/
out/
dist/
build/

# dbt
target/
dbt_packages/
logs/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Docker
*.pid